.image {
    width: 500px;
    height: 200px;
    background-size: cover;
    background-image: var(Capture.png);
    margin: 20 px auto;
    border: 3px solid white;
    padding: 20px;
    text-align: justify;

}