@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-family: lato;
    width: 43%;
  }

  .orange {
    background-color: orange;
    color: white;
  }

  .blue {
    background-color: rgb(82, 82, 228);
    color: white;
  }

  .green {
    background-color: rgb(49, 161, 49);
    color: white;
  }